<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="module" src="https://unpkg.com/@cap.js/widget@0.1.20/cap.min.js"></script>
<script type="module" src="https://unpkg.com/@cap.js/widget@0.1.20/cap-floating.min.js"></script>
<script type="module" src="/js/modules/i18n.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.1/markdown-it.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.1/purify.min.js"></script>
<script src="https://unpkg.com/i18next@25.2.1/i18next.min.js"></script>
<script src="https://unpkg.com/i18next-http-backend@3.0.2/i18nextHttpBackend.min.js"></script>
<script src="https://unpkg.com/i18next-browser-languagedetector@8.2.0/i18nextBrowserLanguageDetector.min.js"></script>
<script type="module" src="/js/modules/timer.js"></script>
<script type="module" src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{chat-room-page-title}"></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css">
</head>
<body>

<div id="username-page">
    <div class="username-page-container">
        <div class="languageSelect">
            <label for="languageSelect" th:text="#{lang-dropdown}"></label>
            <select id="languageSelect" class="form-control language-selector">
                <option value="en" th:selected="${#locale.language == 'en'}">English</option>
                <option value="de" th:selected="${#locale.language == 'de'}">Deutsch</option>
                <option value="zh" th:selected="${#locale.language == 'zh'}">中文</option>
            </select>
        </div>

        <h1 class="title" th:text="#{username-form}"></h1>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group username-page-forms">
                <input type="text" id="name" th:placeholder="#{username-form-placeholder}" autocomplete="off"
                       class="form-control"/>
                <cap-widget
                        class="cap-widget"
                        id="cap"
                        th:attr="data-cap-api-endpoint=@{${capAddr} + '/' + ${keyId} + '/api/'},
                                 data-cap-i18n-verifying-label=#{cap.verifying},
                                 data-cap-i18n-initial-state=#{cap.initial},
                                 data-cap-i18n-solved-label=#{cap.solved},
                                 data-cap-i18n-error-label=#{cap.error}"
                ></cap-widget>
                <button type="button" class="nickname-generate" th:text="#{get-nickname}"></button>
                <button type="submit" class="username-submit" th:text="#{start-chatting}"></button>
                <button type="button" class="redirect-landing" onclick="window.location.href='/landing'"
                        th:text="#{to-landing-page}">
                </button>
            </div>
        </form>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <button class="toggle-sidebar">☰</button>
        <div class="user-list-sidebar">
            <div class="user-list-header">
                <div id="user-count">Online Users: 0</div>
            </div>
            <div id="user-list"></div>
            <div id="user-info" class="hidden"></div>
        </div>

        <div class="main-chat-area">
            <div class="chat-header">
                <div class="title-timer-container">
                    <h2></h2>
                    <div class="countdown">
                        <span class="minutes">00</span>:<span class="seconds">00</span>
                    </div>
                </div>
                <div class="button-container-admin hidden">
                    <div class="languageSelect-admin">
                        <label for="languageSelect-admin" th:text="#{lang-dropdown}"></label>
                        <select id="languageSelect-admin" class="form-control language-selector">
                            <option value="en" th:selected="${#locale.language == 'en'}">English</option>
                            <option value="de" th:selected="${#locale.language == 'de'}">Deutsch</option>
                            <option value="cn" th:selected="${#locale.language == 'cn'}">中文</option>
                        </select>
                    </div>
                    <button id="summarizeBtn" class="admin-btn" th:text="#{summarize-button}"></button>
                    <button id="timerBtn" class="timer-btn"></button>
                    <button id="shutdownBtn" class="shutdown-btn" th:text="#{shutdown-button}"></button>
                    <button id="disconnectBtn" class="disconnect-btn" th:text="#{disconnect-button}"></button>
                </div>

                <div class="button-container-user hidden">
                    <div class="languageSelect-user">
                        <label for="languageSelect-user" th:text="#{lang-dropdown}"></label>
                        <select id="languageSelect-user" class="form-control language-selector">
                            <option value="en" th:selected="${#locale.language == 'en'}">English</option>
                            <option value="de" th:selected="${#locale.language == 'de'}">Deutsch</option>
                            <option value="cn" th:selected="${#locale.language == 'cn'}">中文</option>
                        </select>
                    </div>
                    <button id="disconnectBtnUser" class="disconnect-btn-user"
                            th:text="#{disconnect-button}"></button>
                </div>


                <img src="/images/logo.png" alt="logo" class="logo">
            </div>

            <div class="connecting" th:text="#{connecting}"></div>

            <ul id="messageArea"></ul>

            <form id="messageForm" name="messageForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <div class="quill">
                            <div id="toolbar">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <select class="ql-color"></select>
                                <button class="ql-code"></button>
                                <button class="ql-formula"></button>
                                <button class="ql-link"></button>
                                <button class="ql-image" value="image"></button>
                            </div>
                            <div id="editor"></div>
                        </div>
                        <button type="submit" class="primary" id="send-button" th:text="#{send-button}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
    window.ROOM_ID = /*[[${roomId}]]*/ null;
    window.ROOM_NAME = /*[[${roomName}]]*/ null;
    window.TIMER_MINUTES = /*[[${timerMinutes}]]*/ '0';
    window.TIMER_SECONDS = /*[[${timerSeconds}]]*/ '0';

    document.querySelectorAll('.language-selector').forEach(selector => {
        selector.addEventListener('change', function () {
            const selectedLocale = this.value;
            const url = new URL(window.location.href);
            url.searchParams.set("locale", selectedLocale);
            window.location.href = url.toString();
        });
    });

</script>
</body>
</html>