<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{success-title}"></title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="admin-container">
    <div class="languageSelect">
        <label for="languageSelect" th:text="#{lang-dropdown}"></label>
        <select id="languageSelect" class="form-control">
            <option value="en" th:selected="${#locale.language == 'en'}">English</option>
            <option value="de" th:selected="${#locale.language == 'de'}">Deutsch</option>
            <option value="zh" th:selected="${#locale.language == 'zh'}">中文</option>
        </select>
    </div>
    <h1 id="header" th:text="#{room-created-prefix}"></h1>

    <div class="success-message" style="display: block" th:text="#{success-message}"></div>

    <div id="room-url" class="room-url">
        <h3 th:text="#{link}"></h3>
        <a href="" target="_blank"></a>
    </div>

    <div class="qr-code-container" style="display: block">
        <h3 th:text="#{qrCode}"></h3>
        <img id="qrCode" alt="QR Code"/>
    </div>

    <div id="cancel-button" class="cancel-button">
        <div class="tooltip-container">
            <button id="cancelRoom" class="danger" th:text="#{cancel-button}"></button>
            <span class="tooltip" th:text="#{cancel-button-tooltip}"></span>
        </div>
    </div>

</div>

<script>
    const params = new URLSearchParams(window.location.search);
    const roomName = params.get('name')
    const roomId = params.get('id');
    const locale = params.get('locale') || 'en';
    const roomUrl = `${window.location.origin}/chat/${params.get('url')}?locale=${locale}`;
    const cancelButton = document.getElementById('cancel-button');
    const roomUrlLink = document.getElementById('room-url').querySelector('a');
    const qrCode = document.getElementById('qrCode');
    const header = document.getElementById('header');

    document.addEventListener('DOMContentLoaded', function () {
        header.textContent += `${roomName}`
        roomUrlLink.href = roomUrl;
        roomUrlLink.textContent = roomUrl;

        qrCode.src = `/admin/qrcode/${roomId}`;

        cancelButton.addEventListener('click', () => {
            cancelCreation(roomId)
        })
    });

    document.getElementById("languageSelect").addEventListener("change", function () {
        const selectedLocale = this.value;
        const url = new URL(window.location.href);
        url.searchParams.set("locale", selectedLocale);
        window.location.href = url.toString();
    });

    async function cancelCreation(roomId) {

        try {
            const cancelResponse = await fetch('/admin/cancel-room', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    roomId: roomId
                })
            });

            if (!cancelResponse.ok) {
                throw new Error(`HTTP error! status: ${cancelResponse.status}`);
            }

            alert('ChatRoom Canceled successfully!');

        } catch (error) {
            console.error('Error:', error);
            alert('Failed to cancel room. Please try again.');
        }
    }

</script>
</body>
</html>